/* STYLING */

/**
*** Header *** 
*/

header {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 56px;
  background-color: red;
  z-index: 1;
}
form {
  display: inline;
}

/** 
*** Main ***
*/
main {
  margin-top: 56px;
}
section {
  position: relative;
  width: 62.5%;
  margin-left: 24px;
  padding: 24px 24px 0;
  background-color: green;
  float: left;
  height: 2000px;
}
aside {
  position: relative;

  width: 31.5%;
  padding: 24px 24px 0;
  background-color: yellow;
  float: right;
  height: 2000px;
}

/** 
*** Footer ***
*/
